body {
    background-image: url(../images/ball1.jpg);
    background-repeat: no-repeat; 
    /* background-position: center; */
    background-size: cover; 
}

#header {
  text-align: center;
  color:orangered;
  margin-top: 100px;  
}



#start {
    color: black;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    align-items: center;
    /* position: center; */
}

#wrapper {
    text-align: center;
    color: orangered;
    padding: 20px;

}

#display {
    padding: 10px;
}